*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculadora{
    width: 30%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

input[type=text]{
    width: 92.5%;
    height: 50px;
}

input[type=submit]{
    width: 22%;
    height: 100px;
    margin: 5px;
}